$app-background: #03101e;
$app-lighter-background: #001834;
$app-accent: #d85628;
$app-light-blue: #0060d2;

$app-invalid: red;

$app-text-color: #FFF;
$app-light-accent: #d85628;
$app-font-roboto: Roboto, Arial;
$app-font-raleway: Raleway, Arial;

$header-menu-top-pos: 75px;
$header-menu-padding: 15px;
